<h1>New post</h1>
<%if current_user.profile!=nil%>
  <%= render "form", post: @post %>
  <%else%>
<%="Error,profile is not found"%>
<%= link_to 'Создать профиль', new_profile_path %>
<%end%>
<br>

<div>
  <%= link_to "Back to posts", posts_path %>
</div>
